[submodule "foreign/rapidjson"]
	path = foreign/rapidjson
	url = git://github.com/andrusha97/rapidjson.git
[submodule "foreign/asio"]
	path = foreign/asio
	url = https://github.com/chriskohlhoff/asio.git
