[submodule "foreign/cppzmq"]
	path = foreign/cppzmq
	url = git://github.com/zeromq/cppzmq.git
[submodule "foreign/rapidjson"]
	path = foreign/rapidjson
	url = git://github.com/andrusha97/rapidjson.git
