[submodule "foreign/rapidjson"]
	path = foreign/rapidjson
	url = git://github.com/andrusha97/rapidjson.git
[submodule "foreign/asio"]
	path = foreign/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "foreign/metrics"]
	path = foreign/metrics
	url = https://github.com/3Hren/metrics.git
[submodule "foreign/blackhole"]
	path = foreign/blackhole
	url = https://github.com/3Hren/blackhole.git
	branch = v0.2
[submodule "logging/foreign/radix_tree"]
	path = logging/foreign/radix_tree
	url = https://github.com/ytakano/radix_tree.git
