Source: cocaine-plugins
Section: utils
Priority: extra
Maintainer: Andrey Sibiryov <kobolog@yandex-team.ru>
Build-Depends: cmake, debhelper (>= 7.0.13), libcocaine-dev (>= 0.12.0.0),
 libarchive-dev, uuid-dev, libcgroup-dev,
 libboost-filesystem-dev, libboost-thread-dev,
 libswarm-dev (>= 0.6.1.0), libswarm-dev (<< 0.7),
 libnl-3-dev, libnl-genl-3-dev, libcurl4-openssl-dev (>= 7.22.0),
 libzookeeper-mt-dev
# mongodb-dev (<< 1:2.5.0), mongodb-dev (>= 1:2.4.9), libboost-dev
Standards-Version: 3.9.3
Vcs-Git: git://github.com/cocaine/cocaine-plugins.git
Vcs-Browser: https://github.com/cocaine/cocaine-plugins

Package: libcocaine-plugin-cache3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Cache Service
 LRU Cache service for Cocaine.

Package: libcocaine-plugin-cache-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-plugin-cache3 (= ${binary:Version}),
 cocaine-framework-native (>= 0.12.0.0)
Description: Cocaine - Cache Service Development Headers
 Cocaine development headers for the Cache Service package.

Package: libcocaine-plugin-chrono3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Chrono Service
 Timer service for Cocaine.

Package: libcocaine-plugin-chrono-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-plugin-chrono3 (= ${binary:Version}),
 cocaine-framework-native (>= 0.12.0.0)
Description: Cocaine - Chrono Service Development Headers
 Cocaine development headers for the Timer Service package.

Package: libcocaine-plugin-docker3
Architecture: any
Pre-Depends: docker-engine | lxc-docker
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Docker Isolation
 Support of Docker for Cocaine.

Package: libcocaine-plugin-elasticsearch3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libswarm2 (>= 0.6.1.0), libswarm2 (<< 0.7),
 libswarm2-urlfetcher (>= 0.6.1.0), libswarm2-urlfetcher (<< 0.7)
Description: Cocaine - Elasticsearch Client Service
 Elasticsearch Client Service for Cocaine.

Package: libcocaine-plugin-ipvs3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - IPVS Gateway
 IP Virtual Service Gateway for Cocaine.

# Package: libcocaine-plugin-mongodb3
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core3 (>= 0.12.0.0),
#  libmongoclient | mongodb-clients
# Provides: cocaine-plugin-mongodb
# Replaces: cocaine-plugin-mongodb
# Description: Cocaine - MongoDB Storage
#  MongoDB storage support for Cocaine.

Package: libcocaine-plugin-node3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Node Service
 Node service for Cocaine.

Package: libcocaine-plugin-node-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-plugin-node3 (= ${binary:Version})
Description: Cocaine - Node Service Development Headers
 Cocaine development headers for the Node Service package.

Package: libcocaine-plugin-urlfetch3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libswarm2 (>= 0.6.1.0), libswarm2 (<< 0.7),
 libswarm2-urlfetcher (>= 0.6.1.0), libswarm2-urlfetcher (<< 0.7)
Description: Cocaine - URLFetch Service
 URLFetch service for Cocaine.

Package: libcocaine-plugin-urlfetch-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-plugin-urlfetch3 (= ${binary:Version}),
 cocaine-framework-native (>= 0.12.0.0),
 libswarm-dev (>= 0.6.1.0), libswarm-dev (<< 0.7)
Description: Cocaine - URLFetch Service Development Headers
 Cocaine development headers for the URLFetch Service package.

Package: libcocaine-plugin-graphite3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Graphite Service
 Service for proxying metrics to graphite.

Package: libcocaine-plugin-unicorn3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Cocaine - Unicorn Service
 Unified configuration service for cocaine.
