Source: cocaine-plugins
Section: utils
Priority: extra
Maintainer: Andrey Sibiryov <kobolog@yandex-team.ru>
Build-Depends: cmake, cdbs, debhelper (>= 7.0.13), libzmq-dev (>= 2.2.0), libev-dev, libmsgpack-dev,
 libboost-dev, libboost-filesystem-dev, libboost-thread-dev, libltdl-dev, python-dev, libperl-dev,
 elliptics-dev (>= 2.21), libcgroup-dev, libcocaine-dev (>= 0.10.0)
#libmongoclient-dev | mongodb-dev
Standards-Version: 3.9.1
Vcs-Git: git://github.com/cocaine/cocaine-plugins.git
Vcs-Browser: https://github.com/cocaine/cocaine-plugins

Package: libcocaine-plugin-chrono
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10)
Description: Cocaine - Time-based Drivers
 Time-based drivers for Cocaine.

Package: libcocaine-plugin-fs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10)
Description: Cocaine - Filesystem-based Drivers
 Filesystem driver for Cocaine.

# Package: libcocaine-plugin-dealer
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10)
# Description: Cocaine - Dealer Driver
#  Dealer driver for Cocaine.

Package: libcocaine-plugin-blastbeat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10)
Description: Cocaine - Blastbeat Driver
 Blastbeat driver for Cocaine.

Package: libcocaine-plugin-python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10),
 python
Provides: cocaine-plugin-python
Replaces: cocaine-plugin-python
Description: Cocaine - Python Sandbox
 Python scripting support for Cocaine.

# NOTE: Doesn't support the new API yet.
# 
# Package: libcocaine-plugin-perl
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10),
#  perl
# Provides: cocaine-plugin-perl
# Replaces: cocaine-plugin-perl
# Description: Cocaine - Perl Sandbox
#  Perl scripting support for Cocaine.

Package: libcocaine-plugin-binary
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10)
Description: Cocaine - Binary Sandbox
 Binary C/C++ support for Cocaine.

# NOTE: Doesn't support the new API yet.
# 
# Package: libcocaine-plugin-mongodb
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10),
#  libmongoclient | mongodb-clients
# Provides: cocaine-plugin-mongodb
# Replaces: cocaine-plugin-mongodb
# Description: Cocaine - MongoDB Storage
#  MongoDB storage support for Cocaine.

Package: libcocaine-plugin-elliptics
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10),
 elliptics-client (>= 2.21)
Provides: cocaine-plugin-elliptics
Replaces: cocaine-plugin-elliptics
Description: Cocaine - Elliptics Storage
 Elliptics storage support for Cocaine.

Package: libcocaine-plugin-cgroups
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10),
 libcgroups
Description: Cocaine - CGroups Isolate
 CGroups isolation support for Cocaine.

# Package: libcocaine-plugin-zeromq
# Architecture: any
# Depends: ${shlibs:Depends}, ${misc:Depends}, libcocaine-core2 (>= 0.10)
# Description: Cocaine - ZeroMQ Driver
#  Raw ZeroMQ driver for Cocaine.
