#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=parallel=$(shell grep -c ^processor /proc/cpuinfo)

override_dh_strip:
	for plugin in `find debian -maxdepth 1 -type d | grep 'libcocaine.*3' | sed -e 's/^debian\///g'`; \
	do \
        dbg_package=`echo $${plugin} | sed -e 's/3$$/-dbg/'`; \
        echo "dh_strip -p$${plugin} --dbg-package=$${dbg_package};"; \
        dh_strip -p$${plugin} --dbg-package=$${dbg_package}; \
    done;

%:
	dh $@ --parallel
