#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
export DEB_BUILD_OPTIONS=parallel=$(shell grep -c ^processor /proc/cpuinfo)

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE="RelWithDebInfo" -DCMAKE_CXX_FLAGS="-g -O2 -fstack-protector --param=ssp-buffer-size=4 -Wformat -Werror=format-security"

override_dh_strip:
	dh_strip -plibcocaine-plugin-elliptics3 --dbg-package=libcocaine-plugin-elliptics-dbg;

%:
	dh $@ --parallel
